<html>
    <head>
        <title>Aranarai</title>
        <style>
            body{
                
             background-image: linear-gradient(120deg, #3e47fc, #e04bae);
            }
            h3{
                color: white;
            }
            h1{
                color: yellow;
            }
            
        </style>
    </head>
    <body>
        <center><h1>Aranarai</h1></center>
        <h3>Agriculture is the primary occupation, with many residents engaged in farming and related activities supported by the fertile lands of Perambalur district. The village lifestyle is a blend of traditional rural living with gradual modernization as infrastructure and services improve. Local governance through the gram panchayat plays a crucial role in community welfare and development effortsAranarai forms part of a vibrant local community with nearby villages like Alangali, Keelakkarai, and Elambalur contributing to the region's social and economic activities. The village governance through the gram panchayat helps address local development needs. The presence of schools, markets, and connectivity options supports the livelihood of residents, who primarily engage in agriculture and related activities in this agrarian district. The village stands as a typical example of rural life in central Tamil Nadu, blending tradition with gradual modernization</h3>
    </body>
</html>