<html>
    <head>

        <title>Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                
             background-image: linear-gradient(120deg, #3e47fc, #e04bae);
            }
        </style>
    </head>
        <body>
            <center>
            <h1>PERAMBALUR</h1>
            <H1>B.DHIVAKAR(25016480)</H1>   
            </center>
            <img src="project/map.png" usemap="#imagemap">
            <map name="imagemap">
             <area shape="poly" coords="953,298,895,342,949,445,1095,471,1180,390,1049,310,1140,345" title="my heaven" href="heaven.html">
            <area shape="poly" coords="812,116,943,106,804,224,956,222,800,163,865,103,878,222,967,152" title="cinema" href="raja.html">
            <area shape="poly" coords="626,431,698,404,623,533,670,590,747,565,806,475,781,400" title="Arasalur lake" href="lake.html">
        <area shape="poly" coords="263,435,382,427,424,575,242,504,278,600,402,484,356,591,318,420" title="Aranarai" href="ara.html">
        <area shape="poly" coords="935,280,985,295,1007,346,887,306,893,356,950,360" title="My Area" href="pettai.html">    
        </map>
        </body>
    </html>
