<html>
    <head>
        <title>Sungu Pettai</title>
        <style>
            body{
                
             background-image: linear-gradient(120deg, #3e47fc, #e04bae);
            }
            h3{
                color: white;
            }
            h1{
                color:gold;
            }
            
        </style>
    <body><center><h1>Sungu Pettai</h1></center>
        <h3>Sungu Pettai is a locality situated in Perambalur city within the Perambalur district of Tamil Nadu. Positioned at an elevation of approximately 70 meters above sea level, it is well-connected through roads such as the Perambalur-Elambalur Road and lies close to significant towns like Thuraiyur and Tittakudi. The area falls under the Perambalur assembly and parliamentary constituencies, with Tamil as the primary language spoken by the residents.

The locality is known for its vibrant community life with numerous educational institutions nearby, including the Roever School of Excellence and Kendriya Vidyalaya, which serve as important centers for learning in the region. Additionally, Sungu Pettai features a variety of healthcare facilities, computer shops, supermarkets, and parks like Teppakulam Park and Children’s Park, contributing to a balanced lifestyle for the residents. The area experiences a moderate climate with temperatures typically ranging from the mid-20s to mid-30s Celsius throughout the year</h3></body>
</html>